{{ 'clickpost-edd.css' | asset_url | stylesheet_tag }}

{%- liquid
  for collection in product.collections
    if collection.metafields.clickpost.edd
      assign collection_edd = collection.metafields.clickpost.edd
    endif
  endfor
  assign vendor = product.vendor
  if shop.metafields.clickpost.vendors_edd.value != blank
    assign vendors_edd = shop.metafields.clickpost.vendors_edd.value.vendors
    for edd in vendors_edd
      if edd.name == vendor
        assign vendor_edd = edd.value
      endif
    endfor
  endif
-%}
<style>
  .edd-padding {
      padding-top:20px;
  }
  @media screen and (min-width: 750px) {
      .edd-padding {
          padding-top:20px;
      }
  }
</style>
<clickpost-edd-form>
{% if shop.metafields.clickpost.pickup_pincode != blank %}
  {% if shop.metafields.clickpost.standard_edd != blank %}
    <div class="clickpost-edd__container edd-padding">
      <div class="clickpost-edd__form delivery-check">
        <div class="delivery-pin-text">
          <div class="locationPin">
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="16" viewBox="0 0 12.51 16.756">
              <g id="pin_1_" data-name="pin (1)" transform="translate(-47.83 0.25)">
                <g id="Group_2032" data-name="Group 2032" transform="translate(48.08)">
                  <g id="Group_2031" data-name="Group 2031" transform="translate(0)">
                    <path id="Path_742" data-name="Path 742" d="M54.085,0A6.012,6.012,0,0,0,48.08,6.005a6.928,6.928,0,0,0,.509,2.312,9.683,9.683,0,0,0,.694,1.3L53.4,15.854a.783.783,0,0,0,1.368,0l4.118-6.239a9.644,9.644,0,0,0,.694-1.3,6.927,6.927,0,0,0,.509-2.312A6.012,6.012,0,0,0,54.085,0ZM58.93,8.043A8.873,8.873,0,0,1,58.3,9.226l-4.118,6.239c-.081.123-.107.123-.188,0L49.873,9.226a8.877,8.877,0,0,1-.633-1.184,6.289,6.289,0,0,1-.454-2.038,5.3,5.3,0,0,1,10.6,0A6.294,6.294,0,0,1,58.93,8.043Z" transform="translate(-48.08)" stroke="#000" stroke-width="0.5"></path>
                    <path id="Path_743" data-name="Path 743" d="M115.259,64.008a3.179,3.179,0,1,0,3.179,3.179A3.183,3.183,0,0,0,115.259,64.008Zm0,5.652a2.473,2.473,0,1,1,2.473-2.473A2.476,2.476,0,0,1,115.259,69.66Z" transform="translate(-109.254 -61.182)" stroke="#000" stroke-width="0.5"></path>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <div class="delivery-text">Check Delivery</div>
        </div>
        <div class="pincode-input">
          <input
            type="number"
            name="drop_pincode"
            maxlength="6"
            placeholder="For eg: 560034"
            id="pincodeInput"
            class="pincodeInput"
          >
          <input
            type="hidden"
            name="product_id"
            value="{{ product.id }}"
            class="clickpost-edd__product_id-input"
          >
          <input
            type="hidden"
            name="pickup_pincode"
            class="clickpost-edd__pickup_pincode-input"
            value="{{ shop.metafields.clickpost.pickup_pincode }}"
          >
          <input
            type="hidden"
            name="method"
            class="clickpost-edd__method-input"
            value="{{ shop.metafields.clickpost.method }}"
          >
          {% if shop.metafields.clickpost.standard_edd != blank %}
            <input
              type="hidden"
              name="standard_edd"
              class="clickpost-edd__standard_edd-input"
              value="{{ shop.metafields.clickpost.standard_edd }}"
            >
          {% endif %}
          {% if product.metafields.clickpost.edd != blank %}
            <input
              type="hidden"
              name="product_edd"
              class="clickpost-edd__product_edd-input"
              value="{{ product.metafields.clickpost.edd }}"
            >
          {% endif %}
          {% if collection_edd != blank %}
            <input
              type="hidden"
              name="collection_edd"
              class="clickpost-edd__collection_edd-input"
              value="{{ collection_edd }}"
            >
          {% endif %}
          {% if vendor_edd != blank %}
            <input
              type="hidden"
              name="vendor_edd"
              class="clickpost-edd__vendor_edd-input"
              value="{{ vendor_edd }}"
            >
          {% endif %}
          {% if shop.metafields.clickpost.cutoff_time != blank %}
            <input
              type="hidden"
              name="cutoff_time"
              class="clickpost-edd__cutoff_time-input"
              value="{{ shop.metafields.clickpost.cutoff_time }}"
            >
          {% endif %}
          <input
            type="hidden"
            name="month"
            class="clickpost-edd__month-input"
            value="false"
          >
          <input
            type="hidden"
            name="date_range"
            class="clickpost-edd__date_range-input"
            value="true"
          >
          <input
            type="hidden"
            name="ezedd"
            class="clickpost-edd__method-input"
            value="{{ shop.metafields.clickpost.ezedd }}"
          >
          <input
            type="hidden"
            name="date_format"
            class="clickpost-edd__date_format-input"
            value="1"
          >
          <input
            type="hidden"
            name="logic"
            class="clickpost-edd__logic-input"
            value="dynamic"
          >
          <button
            type="button"
            style="border:none;background-color: #013564;color: #fff;margin-right: 0;padding: 0 15px;"
            class="pincode-button"
          >
            <span>Check</span>
          </button>
        </div>
      </div>
      <div class="response-container" style="display:grid;grid-template-columns:150px auto;margin-top:10px;">
        <div style="display:block !important;"></div>
        <div id="response-hide" class="response"></div>
        <div id="response-success" class="response DeliveryPinIfavailable">
          <span style="display:flex;align-items:center;" class="response-edd">
            <svg
              width="25"
              viewBox="0 0 18 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M7.69503 4.20779C7.6859 5.69184 6.73088 7.03748 5.32109 7.51255C3.63082 8.08204 1.69791 7.22965 0.999206 5.57244C0.363132 4.06421 0.882296 2.28075 2.20922 1.35291C3.61308 0.371269 5.55294 0.576727 6.74546 1.81634C7.36108 2.4564 7.68764 3.32509 7.69503 4.20779C7.69897 4.67517 8.42411 4.67566 8.42013 4.20778C8.40361 2.21564 6.97927 0.455358 5.01182 0.0753179C3.32971 -0.249753 1.62126 0.498307 0.678328 1.91598C0.230677 2.58931 0.00500078 3.40249 7.58471e-05 4.20778C-0.00633667 5.24195 0.39421 6.23565 1.06929 7.01063C2.31435 8.44019 4.4315 8.78992 6.10863 7.96563C7.5219 7.27109 8.41053 5.76879 8.42038 4.20778C8.4231 3.74015 7.698 3.74041 7.69503 4.20779Z" fill="black" /><path d="M17.2715 8.76645V10.7031C17.2715 10.9357 17.2777 11.1692 17.2698 11.4015C17.2572 11.7787 16.7124 11.6936 16.4401 11.6936C16.5609 11.8144 16.6818 11.9353 16.8026 12.0561C16.7723 11.2089 16.1042 10.5437 15.2544 10.5267C14.405 10.5097 13.7358 11.2345 13.7062 12.0561C13.8271 11.9353 13.9479 11.8144 14.0688 11.6936H12.873C12.9939 11.8144 13.1147 11.9353 13.2356 12.0561V6.89789V5.69697C13.1147 5.81782 12.9939 5.93867 12.873 6.05953H15.4307C15.5498 6.05953 15.6695 6.05632 15.7884 6.06347C16.0984 6.08222 16.3692 6.33207 16.4713 6.61842C16.5973 6.97136 16.7266 7.32332 16.8541 7.67576C16.9974 8.07137 17.1407 8.46697 17.2837 8.86261C17.351 9.04833 17.5279 9.1714 17.7296 9.11591C17.9087 9.06658 18.0503 8.85595 17.9829 8.66998C17.7131 7.92512 17.4435 7.18025 17.1737 6.43539C16.9323 5.76825 16.365 5.33435 15.6461 5.33435H14.3667H12.8728C12.6753 5.33435 12.5103 5.49935 12.5103 5.69691V10.8551V12.0561C12.5103 12.2536 12.6753 12.4186 12.8728 12.4186H14.0686C14.2715 12.4186 14.424 12.2536 14.4311 12.0561C14.4472 11.6079 14.8058 11.2609 15.2542 11.2518C15.7026 11.2429 16.0617 11.6213 16.0772 12.0561C16.0843 12.2536 16.2368 12.4186 16.4398 12.4186H16.9205C17.2986 12.4186 17.6101 12.2297 17.8271 11.9293C18.0382 11.6368 17.9963 11.2441 17.9963 10.9033V8.76636C17.9965 8.29898 17.2714 8.29898 17.2714 8.76636L17.2715 8.76645Z" fill="black" /><path d="M12.5114 4.20404V9.11938V12.0564L12.8739 11.6938H7.71393H6.79644C6.9173 11.8147 7.03815 11.9355 7.159 12.0564C7.12867 11.2092 6.46055 10.544 5.61081 10.527C4.76138 10.5099 4.09222 11.2351 4.06261 12.0564C4.18347 11.9355 4.30432 11.8147 4.42518 11.6938C4.04041 11.6938 3.65392 11.7052 3.26939 11.6921C2.91423 11.68 2.97737 11.2112 2.97737 10.948V7.97057V7.71012C2.7956 7.81444 2.61358 7.91878 2.4318 8.0231C3.92917 8.69296 5.63048 8.47199 6.90269 7.44226C8.09497 6.47717 8.60697 4.89519 8.3421 3.40521C8.22568 3.55813 8.10902 3.71129 7.99236 3.86421H10.3904H11.8286C12.1236 3.86396 12.4984 3.82351 12.5112 4.20408C12.527 4.67047 13.2521 4.67196 13.2363 4.20408C13.2201 3.71819 12.9189 3.32138 12.4542 3.17679C12.3178 3.13437 12.1721 3.1388 12.0307 3.1388H10.7921H8.04451H7.99247C7.74016 3.1388 7.60228 3.36892 7.64273 3.5978C7.86446 4.84482 7.38031 6.08912 6.42457 6.9006C5.44318 7.73348 3.9806 7.92612 2.79774 7.39684C2.55479 7.28832 2.25217 7.41263 2.25217 7.70983V10.2207V11.3197C2.25217 11.6317 2.36809 11.9225 2.59697 12.1373C2.83843 12.3637 3.14278 12.4184 3.45972 12.4184H4.42481C4.6278 12.4184 4.78022 12.2534 4.78738 12.0559C4.80366 11.6077 5.16202 11.2607 5.61041 11.2516C6.0588 11.2425 6.41791 11.6211 6.43344 12.0559C6.44059 12.2534 6.59302 12.4184 6.796 12.4184H11.956H12.8735C13.0711 12.4184 13.2361 12.2534 13.2361 12.0559V7.14055V4.20352C13.2363 3.73639 12.5112 3.73639 12.5112 4.20402L12.5114 4.20404Z" fill="black" /><path d="M16.0782 12.075C16.069 12.5316 15.7114 12.8892 15.2549 12.8983C14.7984 12.9075 14.4405 12.518 14.4319 12.075C14.4227 11.6185 14.8109 11.2609 15.2549 11.2518C15.7087 11.2429 16.0752 11.6323 16.0782 12.075C16.0814 12.5424 16.8067 12.5427 16.8033 12.075C16.7971 11.2202 16.1013 10.5436 15.2549 10.5267C14.4062 10.5096 13.7153 11.2459 13.7067 12.075C13.6976 12.9296 14.42 13.6069 15.2549 13.6234C16.1095 13.6402 16.7868 12.9042 16.8033 12.075C16.8126 11.6074 16.0875 11.6082 16.0782 12.075Z" fill="black" /><path d="M6.43411 12.075C6.42498 12.5316 6.06735 12.8892 5.61082 12.8983C5.15429 12.9074 4.79644 12.518 4.78754 12.075C4.77841 11.6185 5.16663 11.2609 5.61082 11.2518C6.06514 11.2429 6.42969 11.6323 6.43411 12.075C6.43855 12.5424 7.16369 12.5429 7.15921 12.075C7.15082 11.2202 6.45898 10.5436 5.61082 10.5267C4.7631 10.5096 4.06983 11.2456 4.06244 12.075C4.05479 12.9296 4.77472 13.607 5.61082 13.6234C6.46543 13.6402 7.14273 12.9042 7.15921 12.075C7.16834 11.6074 6.4432 11.6082 6.43411 12.075Z" fill="black" /><path d="M16.2114 8.40346H14.1474C14.2683 8.52432 14.3891 8.64517 14.51 8.76602V6.92631C14.3891 7.04717 14.2683 7.16802 14.1474 7.28887H14.9458H15.2754C15.3079 7.28887 15.1555 7.2536 15.3158 7.29578C15.2911 7.28937 15.2699 7.2393 15.3116 7.30712C15.2963 7.28221 15.3267 7.35941 15.3309 7.37149C15.5077 7.86848 15.6848 8.3652 15.8616 8.86217C15.928 9.04814 16.1065 9.17072 16.3075 9.11547C16.4876 9.0659 16.6272 8.85576 16.5608 8.66954C16.3808 8.16344 16.2005 7.6576 16.0205 7.15147C15.9218 6.874 15.7664 6.6641 15.4672 6.58543C15.3316 6.54966 15.175 6.56348 15.0359 6.56348H14.1472C13.9497 6.56348 13.7847 6.72848 13.7847 6.92604V8.76575C13.7847 8.96331 13.9497 9.12832 14.1472 9.12832H16.2112C16.679 9.12856 16.679 8.40346 16.2114 8.40346Z" fill="black" /><path d="M11.0396 6.56421H9.17744C8.70981 6.56421 8.70981 7.28931 9.17744 7.28931H11.0396C11.5072 7.28931 11.5072 6.56421 11.0396 6.56421Z" fill="black" /><path d="M11.0396 8.40344H5.97155H5.66398C5.19636 8.40344 5.19636 9.12854 5.66398 9.12854H10.732H11.0396C11.5072 9.12854 11.5072 8.40344 11.0396 8.40344Z" fill="black" /><path d="M6.27751 5.45733C5.67373 4.95517 5.06995 4.45327 4.4664 3.95112C4.50191 4.03646 4.53718 4.12204 4.57245 4.20762V2.3741C4.57245 1.90647 3.84735 1.90647 3.84735 2.3741V3.49559V4.11318C3.84735 4.26536 3.87941 4.40224 4.0015 4.50386C4.58925 4.9927 5.17698 5.48127 5.76475 5.97016C5.91643 6.09644 6.1283 6.11938 6.27752 5.97016C6.4075 5.84018 6.42945 5.58392 6.27752 5.4574L6.27751 5.45733Z" fill="black" />
            </svg>
            <div>
              <div>
                <div id="response-edd-text" style="display: none;">Delivery between</div>
                <div id="response-edd" style="padding-left: 5px;"></div>
              </div>
            </div>
          </span>
          <span class="response-cod" style="display:none;align-items:center;margin-top:5px;">
            <svg
              width="25"
              viewBox="0 0 18 10"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M0.322029 0C0.192173 0 0.0739433 0.0760334 0.0244394 0.192943C-0.0256376 0.309713 0.00291656 0.443504 0.0947484 0.533492L0.831816 1.25L0.0947484 1.96652C-0.0305156 2.08845 -0.0305156 2.28655 0.0947484 2.40849L0.831816 3.125L0.0947484 3.84152C-0.0305156 3.96345 -0.0305156 4.16155 0.0947484 4.28349L0.831816 5L0.0947484 5.71651C-0.0305156 5.83845 -0.0305156 6.03655 0.0947484 6.15849L0.831816 6.875L0.0947484 7.59151C-0.0305156 7.71345 -0.0305156 7.91155 0.0947484 8.03348L0.831816 8.75L0.0947484 9.46651C0.00291803 9.55593 -0.0243445 9.69028 0.0257324 9.80706C0.0745164 9.92397 0.192173 10 0.322029 10H17.678C17.8078 10 17.9261 9.92397 17.9756 9.80706C18.0256 9.69029 17.9971 9.55594 17.9053 9.46651L17.1682 8.75L17.9053 8.03348C18.0305 7.91155 18.0305 7.71345 17.9053 7.59151L17.1682 6.875L17.9053 6.15849C18.0305 6.03655 18.0305 5.83845 17.9053 5.71651L17.1682 5L17.9053 4.28349C18.0312 4.161 18.0305 3.96401 17.9053 3.84152L17.1682 3.125L17.9053 2.40849C18.0305 2.28655 18.0305 2.08845 17.9053 1.96652L17.1682 1.25L17.9053 0.533492C17.9971 0.444065 18.0243 0.309716 17.9743 0.192943C17.9255 0.0760334 17.8078 0 17.678 0H0.322029ZM1.09785 0.625011H16.9022L16.4866 1.02902C16.3613 1.15095 16.3613 1.34906 16.4866 1.47099L17.2236 2.18625L16.4866 2.90277C16.3613 3.0247 16.3613 3.2228 16.4866 3.34474L17.2236 4.06125L16.4866 4.77905C16.3613 4.90098 16.3613 5.09909 16.4866 5.22102L17.2236 5.93629L16.4866 6.6528C16.3613 6.77473 16.3613 6.97284 16.4866 7.09477L17.2236 7.81128L16.4866 8.52779C16.3613 8.64973 16.3613 8.84783 16.4866 8.96977L16.9022 9.37506H1.09785L1.51351 8.97105C1.63877 8.84912 1.63877 8.65102 1.51351 8.52908L0.776442 7.81257L1.51351 7.09606C1.63877 6.97412 1.63877 6.77602 1.51351 6.65408L0.776442 5.93757L1.51351 5.22106C1.63877 5.09912 1.63877 4.90102 1.51351 4.77909L0.776442 4.06257L1.51351 3.34606C1.63877 3.22413 1.63877 3.02602 1.51351 2.90409L0.776442 2.18758L1.51351 1.47106C1.63877 1.34913 1.63877 1.15102 1.51351 1.02909L1.09785 0.625011ZM3.53609 1.25002C3.35875 1.25002 3.21469 1.39009 3.21469 1.56253C3.21469 2.07943 2.78209 2.50004 2.25047 2.50004C2.07312 2.50004 1.92906 2.64012 1.92906 2.81255V7.18763C1.92906 7.36006 2.07312 7.50013 2.25047 7.50013C2.78209 7.50013 3.21469 7.92075 3.21469 8.43765C3.21469 8.61009 3.35875 8.75016 3.53609 8.75016H14.4639C14.6413 8.75016 14.7853 8.61009 14.7853 8.43765C14.7853 7.92075 15.2179 7.50013 15.7495 7.50013C15.9269 7.50013 16.0709 7.36006 16.0709 7.18763V2.81255C16.0709 2.64012 15.9269 2.50004 15.7495 2.50004C15.2179 2.50004 14.7853 2.07943 14.7853 1.56253C14.7853 1.39009 14.6413 1.25002 14.4639 1.25002H3.53609ZM3.82493 1.87503H14.1749C14.3029 2.48622 14.7994 2.96837 15.428 3.09338V6.90666C14.7994 7.0311 14.3035 7.51381 14.1749 8.125H3.82493C3.69622 7.51381 3.20048 7.03166 2.57188 6.90666V3.09338C3.20048 2.96837 3.69637 2.48622 3.82493 1.87503ZM7.71303 2.49515C7.53568 2.49515 7.39162 2.63522 7.39162 2.80766C7.39162 2.98009 7.53568 3.12016 7.71303 3.12016H8.35584C8.77826 3.12016 9.13309 3.38677 9.26353 3.75492H7.71303C7.53568 3.75492 7.39162 3.89499 7.39162 4.06743C7.39162 4.23987 7.53568 4.37993 7.71303 4.37993H9.25736C9.12162 4.73805 8.77051 4.9952 8.35584 4.9952H7.71303C7.53568 4.9952 7.39162 5.13527 7.39162 5.3077C7.39162 5.30952 7.39234 5.31077 7.39291 5.31259C7.39162 5.39448 7.42146 5.47651 7.48574 5.53845L9.41418 7.41349C9.47732 7.47473 9.55924 7.50501 9.64146 7.50501C9.72382 7.50501 9.80704 7.47403 9.87004 7.41349C9.9953 7.29155 9.9953 7.09345 9.87004 6.97151L8.46889 5.60917C9.19005 5.55978 9.7825 5.05237 9.9277 4.37993H10.2843C10.4618 4.37993 10.6057 4.23986 10.6057 4.06743C10.6057 3.89499 10.4618 3.75492 10.2843 3.75492H9.93158C9.88337 3.51873 9.7779 3.30388 9.63399 3.11887H10.2843V3.12013C10.4617 3.12013 10.6057 2.98006 10.6057 2.80762C10.6057 2.63519 10.4617 2.49512 10.2843 2.49512L7.71303 2.49515ZM4.50025 4.06257C3.96862 4.06257 3.53603 4.48319 3.53603 5.00009C3.53603 5.51699 3.96862 5.93761 4.50025 5.93761C5.03187 5.93761 5.46447 5.51699 5.46447 5.00009C5.46447 4.48319 5.03187 4.06257 4.50025 4.06257ZM13.4996 4.06257C12.968 4.06257 12.5354 4.48319 12.5354 5.00009C12.5354 5.51699 12.968 5.93761 13.4996 5.93761C14.0312 5.93761 14.4638 5.51699 14.4638 5.00009C14.4638 4.48319 14.0312 4.06257 13.4996 4.06257ZM4.50025 4.68758C4.6776 4.68758 4.82165 4.82765 4.82165 5.00009C4.82165 5.17252 4.6776 5.31259 4.50025 5.31259C4.3229 5.31259 4.17884 5.17252 4.17884 5.00009C4.17884 4.82765 4.3229 4.68758 4.50025 4.68758ZM13.4996 4.68758C13.677 4.68758 13.821 4.82765 13.821 5.00009C13.821 5.17252 13.677 5.31259 13.4996 5.31259C13.3223 5.31259 13.1782 5.17252 13.1782 5.00009C13.1782 4.82765 13.3223 4.68758 13.4996 4.68758Z" fill="black" />
            </svg>
            <div id="response-cod-text" style="display:none;">Cash on delivery</div>
            <div id="response-cod" style="padding-left: 5px;"></div>
          </span>
        </div>
        <div id="response-invalid-text" style="display:none;">Please enter a valid pincode</div>
        <div id="response-error" class="response"></div>
      </div>
    </div>
  {% endif %}
{% endif %}
</clickpost-edd-form>