<style>
  .pin_error,.cod_error, .invalid_error{
    display:none;
    color:red;
  }
  .main .field__input.input-error {
    border-color: #e40000;
    -webkit-box-shadow: 0 0 0 1px #e40000;
    box-shadow: 0 0 0 1px #e40000;
  }
</style>

<script>
  var sheetData = undefined;
  var sheetKey = "1NxFz8SGVicsxUKS15RA0PWftbswIeAq41NaPpes-zUk";
  var apiKey = "AIzaSyDB0ZzJ4T9SHPsFoddOHkRdr7sXG9LyK7s";
  var sheetUrl = "https://sheets.googleapis.com/v4/spreadsheets/1NxFz8SGVicsxUKS15RA0PWftbswIeAq41NaPpes-zUk/values/B2C_LM_Pincodes?key=AIzaSyDB0ZzJ4T9SHPsFoddOHkRdr7sXG9LyK7s";
  var pinJson;

  var updateData = (function updateData(){
    if (typeof(Storage) !== "undefined" && sessionStorage.getItem("pincodeData") === null ) {
      $.ajax({
        url: sheetUrl,
        dataType: "json",
        success: function(data){
          sheetData = JSON.stringify(data.values);
          sessionStorage.setItem("pincodeData",sheetData);
          getData();  
        }
      });
    }
    else{
      getData();
    }
  }());

  function getData(){
    var pincodeData = sessionStorage.getItem("pincodeData")
    if (pincodeData !== null) {
      pinJson = JSON.parse(pincodeData);
    }
    else{
      updateData();
    }
  }



  //API for check serviceability
  async function checkInSheet(pincode) {
    const response = await fetch('https://pincode.myborosil.com/api/getpincode?pincode=' + pincode);
    const data = await response.json();

    let report = data.response;

    let sheet_result = "NA";

    if(report != 'error' && report.repl == 'Y') {
      
      sheet_result = "FS";
    }
    else {
      sheet_result = "NA";
    }
    
    if(Shopify.Checkout.step == "contact_information"){
      if(sheet_result == "NA"){
        $('.pin_error').attr('style', 'display: inline-block');
        $('[data-address-field="zip"] input').addClass('input-error');
        $('.step__footer__continue-btn').addClass("btn--disabled").attr("disabled",true);
        return false;
      } 
      else if(sheet_result == "OP"){
        $('.cod_error').attr('style', 'display: inline-block');
        $('[data-address-field="zip"] input').removeClass('input-error');
        $('.step__footer__continue-btn').removeClass("btn--disabled").attr("disabled",false);
      } 
      else{
        $('[data-address-field="zip"] input').removeClass('input-error');
        $('.step__footer__continue-btn').removeClass("btn--disabled").attr("disabled",false);
      }
    }
    else if(Shopify.Checkout.step == "shipping_method"){
      if(sheet_result == "NA"){
        $('.section--shipping-method .section__content').empty();
        if($('.pin_error').length <= 0){
          $('.section--shipping-method .section__content').append('<p class="pin_error">'+ errorMessage +'</p>');
        }
        $('.pin_error').show();
        $('.step__footer__continue-btn').addClass("btn--disabled").attr("disabled",true);
        return false;
      }
      else if(sheet_result == "OP"){
        $('.pin_error').attr('style', 'display: inline-block');
      }
    }
    else if(Shopify.Checkout.step == "payment_method"){
      if(sheet_result == "NA"){
        $('.section--payment-method .section__content').empty();
        if($('.pin_error').length <= 0){
          $('.section--payment-method .section__content').append('<p class="pin_error">'+ errorMessage +'</p>');
        }
        $('.pin_error').show();
        $('.step__footer__continue-btn').addClass("btn--disabled").attr("disabled",true);
        return false;
      }
      else if(sheet_result == "OP"){
        var getCod = $('[data-select-gateway] .radio__label__primary:contains(Cash)').parents('[data-select-gateway]');
        getCod.prop('checked', false).html('<b>Cash on Delivery ('+ codMessage +')</b>');
      }
    }
    else{
      $('.pin_error').attr('style', 'display: inline-block');
      return false;
    }

  }


  //validate the pincode and call the serviceability
  function validateData(){
    if(Shopify.Checkout.step == "contact_information"){
      if ($('.section--shipping-address').length > 0){
        var pincode_entered = $('#checkout_shipping_address_zip').val();
      }
      else{
        var pincode_entered = $('#checkout_billing_address_zip').val();
      }
    }
    else{
      {% if checkout.shipping_address %}
        var pincode_entered = "{{checkout.shipping_address.zip}}";
      {% elsif checkout.billing_address %}
        var pincode_entered = "{{checkout.billing_address.zip}}";   
      {% endif %}
    }

    if(pincode_entered.length == 6){
      var codMessage = '{{ settings.cod_error }}';
      var errorMessage = '{{ settings.unserviceable_error }}';
      var sheet_result = checkInSheet(pincode_entered);
      return true;
    } 
    else {
      $('.invalid_error').attr('style', 'display: inline-block');
      $('.step__footer__continue-btn').addClass("btn--disabled").attr("disabled",true);
      $('[data-address-field="zip"] input').addClass('input-error');
      return false;
    }
  }

  //validate the pincode
  function validateData() {
    if(Shopify.Checkout.step == "contact_information"){
      if ($('.section--shipping-address').length > 0){
        var pincode_entered = $('#checkout_shipping_address_zip').val();
      }
      else{
        var pincode_entered = $('#checkout_billing_address_zip').val();
      }
    }
    if(pincode_entered.length == 6){ 
      checkIfServiceable(pincode_entered);
    }
  }

  $(document).on('page:load page:change',function(){
    var codMessage = '{{ settings.cod_error }}';
    var errorMessage = '{{ settings.unserviceable_error }}';
    
    if($('.pin_error').length <= 0){
      $('.step__sections .section--shipping-address').after('<p class="pin_error">'+ errorMessage +'</p>');
    }
    if($('.cod_error').length <= 0){
      $('.step__sections .section--shipping-address').after('<p class="cod_error">'+ codMessage +'</p>');
    }
    if($('.invalid_error').length <= 0){
      $('.step__sections .section--shipping-address').after('<p class="invalid_error">Please enter a valid pincode</p>');
    }

    if(Shopify.Checkout.step == "contact_information"){
      if($('#checkout_shipping_address_zip').val().length > 0){
        validateData();
      }
    }

    if(Shopify.Checkout.step == "payment_method" || Shopify.Checkout.step == "shipping_method"){
      validateData();
    }
  });

  /* ------------------------------------------------------------------
   * CHECKOUT: 
   *  - Remove error messages when user starts typing
   ------------------------------------------------------------------ */ 
  $(document).on('click','[data-address-field="zip"] input',function(){
    $(this).removeClass('input-error');
    $('.pin_error').hide();
    $('.cod_error').hide();
    $('.invalid_error').hide();
  });

  $(document).on('focusout','[data-address-field="zip"] input',function(){
    validateData();
  });


  /* ------------------------------------------------------------------
   * CHECKOUT: 
   *  - Allow only number
   *  - Limit to 6 digits
   ------------------------------------------------------------------ */ 
  function _isNumberKey(evt) {
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57))
      return false;
    return true;
  }


  $(document).on('page:load page:change',function(){
    if(Shopify.Checkout.step == "contact_information") {

      var country = $('select[name="checkout[shipping_address][country]"]').val();
      
      if(country == 'India'){
        $( "#checkout_shipping_address_zip").attr("maxlength",6);
      }

      $("#checkout_shipping_address_zip").keypress(function(event) {
        return _isNumberKey(event);
      });

      $("#checkout_shipping_address_zip").on('keyup', function(event) {
        $('.pin_error').hide();
        $('.cod_error').hide();
        $('.invalid_error').hide();
        if($(this).val().length == 6) {
          validateData();
        }
      });

      $("#checkout_shipping_address_zip").on('change', function(event) {
        validateData();
      });
    
      $('#checkout_email_or_phone').on('blur focus change', function() {
        var zipLength = $("#checkout_shipping_address_zip").val().length;

        if(zipLength === 6) {
          validateData();
        } 
      });
    }
  });
</script>