<div class="card-wrapper cart-upsell-product-card">
    <div class="card-information">
      <div class="card-information__wrapper">
        {%- if show_vendor -%}
          <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
          <div class="caption-with-letter-spacing light">{{ product_card_product.vendor }}</div>
        {%- endif -%}
  
        {%- if product_card_product.featured_media -%}
          <div class="card-information__text h5">
            <a href="{{ product_card_product.url | default: '#' }}" class="full-unstyled-link">
              {{ product_card_product.title | escape }}
            </a>
          </div>
        {%- endif -%}
  
        {% comment %} TODO: metafield {% endcomment %}
        <span class="caption-large light">{{ block.settings.description | escape }}</span>
        {% if discount == '100'%}
            <span class="free-text">Free</span>
        {% else %}
          <span class="offer-product__price">
            {% assign original_price = variant.price | times: 1.0 %}
            {% assign discount_percentage = discount | times: 1.0 %}
            {% assign discount_percentage_by_hundred = discount_percentage | divided_by: 100 %}
            {% assign discount_amount = original_price | times: discount_percentage_by_hundred %}
            {% assign discounted_price = original_price | minus: discount_amount %}
            <span class="price-item price-item--sale price-item--last">{{ discounted_price | money }}</span>
            {% if variant.price %}
              <span><s class="price-item price-item--regular">{{ variant.price | money }}</s></span>
              <span class="custom-discount_percentage"> {{ discount }}% OFF</span>
            {% else %}
              <span><s class="price-item price-item--regular">{{ variant.price | money }}</s></span>
              <span class="custom-discount_percentage">10% OFF</span>
            {% endif %}
          </span>
        {% endif %}

      </div>
    </div>
  
    <div class="card card--product{% if product_card_product.featured_media == nil %} card--text-only card--soft{% endif %}{% if product_card_product.featured_media != nil and show_image_outline %} card--outline{% endif %}" tabindex="-1">
      <div class="card__inner">
        {%- if product_card_product.featured_media -%}
          {%- liquid
            assign featured_media_aspect_ratio = product_card_product.featured_media.aspect_ratio
  
            if product_card_product.featured_media.aspect_ratio == nil
              assign featured_media_aspect_ratio = 1
            endif
          -%}
  
          <div{% if add_image_padding %} class="card__media-full-spacer"{% endif %}>
            <div class="media media--transparent media--{{ media_size }} media--hover-effect"
              {% if media_size == 'adapt' and product_card_product.featured_media %} style="padding-bottom: {{ 1 | divided_by: featured_media_aspect_ratio | times: 100 }}%;"{% endif %}
            >
              <img
                srcset="{%- if product_card_product.featured_media.width >= 165 -%}{{ product_card_product.featured_media | img_url: '165x' }} 165w,{%- endif -%}
                  {%- if product_card_product.featured_media.width >= 360 -%}{{ product_card_product.featured_media | img_url: '360x' }} 360w,{%- endif -%}
                  {%- if product_card_product.featured_media.width >= 533 -%}{{ product_card_product.featured_media | img_url: '533x' }} 533w,{%- endif -%}
                  {%- if product_card_product.featured_media.width >= 720 -%}{{ product_card_product.featured_media | img_url: '720x' }} 720w,{%- endif -%}
                  {%- if product_card_product.featured_media.width >= 940 -%}{{ product_card_product.featured_media | img_url: '940x' }} 940w,{%- endif -%}
                  {%- if product_card_product.featured_media.width >= 1066 -%}{{ product_card_product.featured_media | img_url: '1066x' }} 1066w,{%- endif -%}
                  {{ product_card_product.featured_media | img_url: 'master' }} {{ product_card_product.featured_media.width }}w"
                src="{{ product_card_product.featured_media | img_url: '533x' }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                alt="{{ product_card_product.featured_media.alt | escape }}"
                loading="lazy"
                class="motion-reduce"
                width="{{ product_card_product.featured_media.width }}"
                height="{{ product_card_product.featured_media.height }}"
              >
  
              {%- if product_card_product.media[1] != nil and show_secondary_image -%}
                <img
                  srcset="{%- if product_card_product.media[1].width >= 165 -%}{{ product_card_product.media[1] | img_url: '165x' }} 165w,{%- endif -%}
                    {%- if product_card_product.media[1].width >= 360 -%}{{ product_card_product.media[1] | img_url: '360x' }} 360w,{%- endif -%}
                    {%- if product_card_product.media[1].width >= 533 -%}{{ product_card_product.media[1] | img_url: '533x' }} 533w,{%- endif -%}
                    {%- if product_card_product.media[1].width >= 720 -%}{{ product_card_product.media[1] | img_url: '720x' }} 720w,{%- endif -%}
                    {%- if product_card_product.media[1].width >= 940 -%}{{ product_card_product.media[1] | img_url: '940x' }} 940w,{%- endif -%}
                    {%- if product_card_product.media[1].width >= 1066 -%}{{ product_card_product.media[1] | img_url: '1066x' }} 1066w,{%- endif -%}
                    {{ product_card_product.media[1] | img_url: 'master' }} {{ product_card_product.media[1].width }}w"
                  src="{{ product_card_product.media[1] | img_url: '533x' }}"
                  sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                  alt="{{ product_card_product.media[1].alt | escape }}"
                  loading="lazy"
                  class="motion-reduce"
                width="{{ product_card_product.media[1].width }}"
                height="{{ product_card_product.media[1].height }}"
                >
              {%- endif -%}
            </div>
          </div>
        {%- else -%}
          <div class="card__content">
            <div class="card__text h3">
              <a href="{{ product_card_product.url | default: '#' }}">
                {{ product_card_product.title }}
              </a>
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>

    <div class="product-grid-add-to-cart">
        <div class="container">
            <div class="round">
                <input type="hidden" value="{{ product_handle }}" id="offer-product-handle"/>
                <input type="hidden" value="{{ discount }}" id="offer-product-key"/>
                <input type="checkbox" id="offer-product"  value="{{ variant_id }}" checked/>
                <label for="offer-product"></label>
            </div>
        </div>
    </div>
  </div>

