<link rel="stylesheet" href="{{ 'marmeto-filter.css' | asset_url }}" type="text/css" />
<script src="{{ 'blog-filter.js' | asset_url }}" defer="defer"></script>
{% paginate blog.articles by 6 %}
<div class="blogs-page-container {{ blog.count }}">
    <div class="blogs-page-container--header">
        <div class="blog-header-inner-container" id="first-href">
            
            {% for block in section.blocks %}
              {%  if block.type == 'tabs' %}
                <div class="blog-header header-title--receipe"><a href="https://myborosil.com/blogs/borosil-blog/tagged/{{ block.settings.tab_tag }}" id="{{ block.settings.tab_tag }}">{{ block.settings.tab_name | upcase}}</a></div>
              {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="blogs-page-container--content">
        <div class="blog-page-content">
            <div class="filter-empty-message">Selected filter is empty</div>
            <div class="receipe-inner-container">
                <div class="sidebar">
                  {%- render 'blogs-sidebar' -%}
                </div>
                <div class="receipe-product-grid" id="collection__infinite-scroll">
                    {% for article in blog.articles %}
                      {% render 'blog-article-card', article: article %}
                    {% endfor %}
                </div>
            </div>
            <div class="filter-selection" id="filter-selection">
                <div class="filter-icon"><img src="{{"filter_icon.svg" | asset_url}}" alt=""></div>
                <div class="filter-text">Filters</div>
            </div>
            <div class="mobile-filter-pullup">
              {%- render 'blogs-sidebar' -%}
            </div>
        </div>
    </div>
</div>
{%  endpaginate %}
<infinite-scroll class="infiniteScroll"><img class="lazyload infin-loder-image" id="loder-image" src="https://cdn.shopify.com/s/files/1/0551/8009/9722/files/Youtube_loading_symbol_1__wobbly.gif?v=1667565700" alt="Load More" style="width: 50px;"></infinite-scroll>
<style>
    .blog-header a{
      text-decoration: none;
      color: #013564;
    }
    .infiniteScroll {
      text-align: center;
    }
    .blog-card-container {
      text-decoration: none;
    }
    /* :: Blog Header :: */
    .blogs-page-container--header {
        border-bottom: 1px solid #E1E3E4;
    }
    .blog-header-inner-container {
        display: flex;
        justify-content: center;
        margin: auto;
    }
    .blog-header-inner-container .blog-header{
        margin: 0px 20px;
        padding-top: 30px;
        padding-bottom: 20px;
        letter-spacing: 0px;
        font-size: 16px;
        font-weight: 700;
        color: #013564;
        cursor: pointer;
    }
    .tab-active{
       border-bottom: 3px solid #D9E255; 
    }
    /* :: Blog Content :: */
    
    .blogs-page-container--content{
        padding: 60px 0;
    }
    
    .blog-page-content{
/*         display: none; */
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        animation: fade 500ms;
        max-width: 1260px;
        margin: auto
    }
    
    @keyframes fade {
        from {opacity: 0;}
        to {opacity: 1;}
    }

    /* :: Receipe tab */
    .receipe-inner-container .sidebar{
        width: 253px;
    }

    .blogs-filter-sidebar{
        position: sticky;
        top: 140px;
    }

    .receipe-inner-container {
        display: flex;
    }

    .receipe-product-grid{
        max-width: 976px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        margin: auto;
        margin-top: 0;
    }

    /* :: Blog Card :: */
    .blog-card-container{
        max-width: 400px;
        box-shadow: 0px 0px 10px #0000000F;
        cursor: pointer;
        position: relative;
    }

    .blog-card--contents{
        padding: 20px;
        position: relative;
    }

    .blog-card--image img{
        width: 100%;
    }
    .blog--title{
        font-size: 18px;
        color: #013564;
        font-weight: 700;
        letter-spacing: 0px;
        line-height: 27px;            
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 6px;
    }
    .blog--content{
        position: relative;
        font-weight: 400;
        color: #7C828A;
        font-size: 14px;
        padding-bottom: 20px;
        letter-spacing: 0px;
        line-height: 24px;
    }
    .blog--link{
        font-size: 14px;
        text-transform: uppercase;
        color: #D9E255;
        text-decoration: none;
        font-weight: 600;
        position: absolute;
        bottom: 10px;
        left: 20px;    
    }
    .mobile-filter-pullup,
    .filter-selection {
        display: none;
    }

    .filter-empty-message{
        display: none;
        width: 100%;
        margin: 20px 0;
        text-align: center;
    }
    

    @media screen and (max-width:1024px) {
        .blog-header-inner-container {
            width: unset;
            max-width: 415px;
        }
        .blog-header-inner-container .blog-header {
            font-size: 14px;
            padding: 14px 0px;
            padding-bottom: 10px;
        }
        .blogs-page-container--content {
            padding: 30px 20px;
        }
        .receipe-inner-container .sidebar{
            display: none;
        }
        .blog--title {
            font-size: 12px;
            line-height: 18px;
            margin-bottom: 4px;
        }
        .blog--content {
            font-size: 12px;
            line-height: 18px;
            padding-bottom: 15px;
        }
        .blog--link {
            font-size: 10px;
            left: 10px;
            bottom: 5px;
        }
        .blog-card--contents {
            padding: 0px 10px 10px;
        }
        
        .filter-selection {
            display: flex;
            justify-content: center;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100vw;
            z-index: 1001;
            padding: 15px;
            align-items: center;
            background: #ffffff;
            box-shadow: 0 -5px 5px 0 rgba(0,0,0,0.04);
            -webkit-box-shadow: 0 -5px 5px 0 rgba(0,0,0,0.04);
            -moz-box-shadow: 0 -5px 5px 0 rgba(0,0,0,0.04);
        }

        .filter-selection .filter-text{
            font: normal normal normal 16px/23px Mulish;
            font-weight: 700;
        }
        .mobile-filter-pullup {
            display: block;
            padding: 20px;
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            background: #fff;
            z-index: 1002;
            visibility: hidden;
            transform: translateY(100%);
            transition: transform .5s cubic-bezier(.645, .045, .355, 1),visibility .5s cubic-bezier(.645, .045, .355, 1);
            width: calc(100%)
        }  
        .filter-active{
            visibility: visible;
            transform: translateX(0);
        }
        .filter-sidebar__header {
            border: unset;
            border-bottom: 1px solid lightgrey;
            margin-bottom: 20px;
        } 

        .blog-page-content.blogs-page-container--content-tips-tricks,
        .blog-page-content.blogs-page-container--content-lifestyle{
            gap: 15px;
        }

    }

    @media screen and (max-width:425px) {
        .blogs-page-container--content{
            padding: 30px 10px;
        }

        .receipe-product-grid {
            grid-template-columns: 1fr 1fr;
            gap: 10px;
        }
/*         .blog-card--image{
            height: 165px;
            width: 165px;
        } */
        .blog-card--image img {
            height: 100%;
            object-fit: cover;
        }
        .filter-text{
            padding-left: 10px;
        }
        .filter-icon{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        /* :: Other blog cards */

        .blogs-page-container--content-lifestyle.blog-page-content,
        .blogs-page-container--content-tips-tricks.blog-page-content {
            grid-template-columns: 1fr;
        }
        
        .blogs-page-container--content-lifestyle .blog-card--image,
        .blogs-page-container--content-tips-tricks .blog-card--image {
            height: unset;
            width: unset;
        }
        .blogs-page-container--content-lifestyle .blog--title,
        .blogs-page-container--content-tips-tricks .blog--title {
            font-size: unset;
        }
        .blogs-page-container--content-lifestyle .blog--content,
        .blogs-page-container--content-tips-tricks .blog--content {
            font-size: unset;
        }
        .blogs-page-container--content-lifestyle .blog--link,
        .blogs-page-container--content-tips-tricks .blog--link {
            font-size: unset;
        }
    }
  .infin-loder-image {
    display: none;
    margin: auto;
  }
  .filter-group {
    display: none;
  }


</style>
<script>
   // PLP Infinity Loader
  function renderInfiniteScroll(pageNumber) {
    let appendCollectionGrid = document.getElementById("collection__infinite-scroll");
    let url = window.location.href + '?view=infinite-scroll&page='+pageNumber
    let splitUrl = window.location.href.split("?");
    console.log(splitUrl, "splitUrl")
    if(splitUrl.length > 1 && !splitUrl[1].includes("view=infinite-scroll")){
      url = window.location.href + '&view=infinite-scroll&page='+pageNumber
      console.log(url, "split urlllllllllllllll")
    }
    console.log(url, "ajax urlllll")
    $('#loder-image').show();
      $.ajax({
        url: url,
        success: function(response){
          if (response) {
            appendCollectionGrid.insertAdjacentHTML( 'beforeend', response );
          }
          $('#loder-image').hide();
          // AOS.init();
        },
        error: function (request, status, error) {
          console.log(request,"error rqst");
          console.log(error,"error");
        }
      });
    }

    let currentPage = "";
    let getTotalPage = Math.ceil(500 / 6);
    console.log(getTotalPage, "getTotalPage")

    class InfiniteScroll extends HTMLElement {
      constructor() {
        super();
        currentPage=1;
        const infiniteScroll = this,io=new IntersectionObserver(e=>{e[0].intersectionRatio<=0||getTotalPage<=currentPage||renderInfiniteScroll(++currentPage)});io.observe(infiniteScroll);
      }
    }

    customElements.define("infinite-scroll", InfiniteScroll);

  let splitUrlElement = window.location.href.split("/blogs/borosil-blog/tagged/");
  
  if(splitUrlElement.length > 1) {
    console.log(splitUrlElement[1]+"------------")
    let activeEle = splitUrlElement[1];
    $(`[id=${activeEle}]`).addClass("tab-active");
    $(`.show-${activeEle}`).show();
  }

  if(window.location.href == "https://myborosil.com/blogs/borosil-blog/" || window.location.href == "https://myborosil.com/blogs/borosil-blog" ){
    let firstNav = $('#receipe').attr('href');
    window.location.href = firstNav;
  }

  const mobileFilterToggler = () => {
      $('.mobile-filter-pullup').toggleClass('filter-active')
  }

  $(document).on('click','[data-action="close-filter"]', function (event) {
      mobileFilterToggler()
  })
  $(document).on('click','#filter-selection', function (event) {
      mobileFilterToggler()
  })
</script>


{% schema %}
{   "name": "Blog Page",
    "blocks": [
    {
      "type": "tag_filters",
      "name": "Tag Filter",
      "settings": [
        {
          "type": "text",
          "id": "filter_name",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "textarea",
          "id": "filter_tags",
          "label": "Tags",
          "info": "Add a comma-separated list of product tags. Only the tags found in the collection will be displayed as filters."
        },
        {
          "type": "text",
          "id": "filter_tab_name",
          "label": "Tag as given in the blogs",
          "info": "Enter the blog tag here. Ex: recipe, tips-and-tricks, lifestyle"
        }
      ]
    },
    {
      "type": "tabs",
      "name": "Tabs",
      "settings": [
        {
          "type": "text",
          "id": "tab_name",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "text",
          "id": "tab_tag",
          "label": "Tag",
          "info": "Tags as given in the blogs"
        }
      ]
    }
  ],
 "settings": [
    {
        "type": "checkbox",
        "id": "enable_tag_filter",
        "label": "Enable Tag Filter",
        "info": "Add tag filters in sidebar by adding content blocks.",
        "default": true
    }
 ]
}
{% endschema %}